.createTeam {
    @apply bg-white border-2 border-highlight-500 shadow-2xl;
    border-radius: 10px;
    width: 470px;
    min-height: 470px;
    padding: 28px;

    div.closeWrapper {
        @apply flex items-center justify-end mb-5;
        height: 28px;
    }
    
    div.imgWrapper {
        @apply flex items-center justify-center mb-10;

        img {
            height: 60px;
        }
    }

    div.inputWrapper {
        @apply flex items-center justify-center mb-16;

        input {
            @apply border-b-2 border-gray-200;
            height: 34px;
            width: 324px;
            font-size: 18px;
            padding: 5px 0px;

            &:focus {
                @apply border-green;
            }
        }
    }

    h4 {
        @apply text-center text-primary-700 font-bold mb-10;
    }

    p {
        @apply text-center text-primary-500 -mt-4;
    }

    & > button {
        @apply block mx-auto;
    }
}