.section {
    @apply flex justify-center items-center h-screen;

    & > div {
        @apply flex flex-col;

        &:first-child {
            @apply mr-20 flex justify-center;
            max-width: 513px;
        }
        
        @media screen and (max-width:768px) {
            width: 50% !important;
        }

        &:last-child {
            width: 513px;
        }

        h1 {
            @apply text-primary-700 font-sans font-bold mb-12;
            font-size: 28.8px;
        }

        h2 {
            @apply font-medium text-highlight-500 mb-10;
            font-size: 18px;
        }
        
        form {
            @apply flex flex-col;
            max-width: 350px;

            input {
                @apply mb-12 bg-gray-100 rounded text-primary-700 font-normal;
                height: 60px;
                padding: 20px;
                border-radius: 10px;
                transition: all .25s ease;

                &[type="button"] {
                    @apply bg-highlight-500 text-white cursor-pointer mt-1;
                    border-radius: 70px ;
                    
                    &:hover {
                        @apply shadow-xl bg-highlight-700;
                    }
                }

                &:hover, &:focus {
                    @apply border border-highlight-300;
                }
            }

            & > a {
                @apply block text-right text-primary-700 mb-10 -mt-5 cursor-pointer;

                &:hover {
                    @apply underline text-highlight-500;
                }
            }

            footer {
                @apply px-6;

                a {
                    @apply text-highlight-500 cursor-pointer text-center font-normal;

                    &:hover {
                        @apply underline;
                    }
                }
            }

            & > div {
                @apply flex justify-between items-center;

                input {
                    @apply mb-0 mt-0 ;
                    width: 190px;
                }

                span a {
                    @apply text-highlight-500 cursor-pointer text-center;

                    &:hover {
                        @apply underline;
                    }
                }
            }
        }
    }
}

.reset {
    @apply inline-block w-full mb-6;
}

.create {
    width: 260px;
}