.section {
    @apply bg-gray-100 h-screen flex flex-col items-center;
    width: 223px;
    padding: 60px 20px 0;

    ul {
        @apply w-full;

        li {
            @apply w-full rounded cursor-pointer;
            padding: 15px;
            height: 50px;
            border-radius: 8px;
            transition: all .15s ease;

            &:first-child, &.active {
                @apply bg-gray-200;
            }

            &:hover {
                @apply bg-gray-150;
            }
        }
    }
}