section {
    @apply flex justify-center items-center h-screen;

    div {
        @apply flex flex-col;
        min-height: 549px;

        &:first-child {
            @apply mr-20;
            max-width: 543px;
        }

        &:last-child {
            min-width: 513px;
        }

        h1 {
            @apply text-primary-700 font-sans font-bold mb-8;
            font-size: 28.8px;
        }
        
        form {
            @apply flex flex-col;
            max-width: 350px;

            input {
                @apply mb-10 bg-gray-100 rounded text-primary-700 font-normal !important;
                height: 60px;
                padding: 20px;
                line-height: 1.4;
                font-size: 14.2px;
                border-radius: 10px;

                &[type="button"] {
                    @apply bg-highlight text-white cursor-pointer !important;
                    max-width: 260px !important;
                    border-radius: 70px !important;

                    &:hover {
                        @apply shadow-lg !important;
                    }
                }
            }

            footer span {
                @apply text-highlight cursor-pointer;

                &:hover {
                    @apply underline;
                }
            }
        }
    }
}