.subject {
    @apply h-screen bg-white border-l border-r border-gray-200;
    width: 385px;

    & > div {
        @apply flex flex-col items-center h-full;
        padding: 60px 0px 0px;

        & > img {
            width: 228px;
        }

        h2 {
            @apply text-primary-700 font-bold text-center mb-8;
        }

        p {
            @apply text-primary-600 text-center mb-8 px-10;
            font-size: 15px;
        }
    }
}
